@font-face {
	font-family: 'Muller';
	src: local('MullerLight'),
		url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerRegular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerMedium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background: #e5e5e5;
}

:root {
  --color-hover: #f0bf5f;
  --color-focus: #cc9933;
  --color-active: #a47312;
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 10px;
  transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.btn:focus, .btn:hover {
  outline: none;
  color: #fff;
  background-color: var(--color-focus);
}

.btn:active {
  color: #fff;
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.section-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* header */

.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-phone:focus-visible {
  outline: 0;
  outline-offset: 5px;
  outline: 1px solid var(--color-focus);
  color: var(--color-focus);
}

.header-phone:hover {
  color: var(--color-focus);
}

.header-phone:active {
  color: var(--color-active);
}

.header-personal-account {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-personal-account:focus-visible {
  outline: 0;
  outline-offset: 5px;
  outline: 1px solid var(--color-focus);
}

.header-personal-account:hover {
  color: var(--color-hover);
}

.header-personal-account svg {
  fill: var(--color-focus);
  transition: fill 0.3s ease-in-out;
}

.header-personal-account:hover svg {
  fill: var(--color-hover);
}

.header-personal-account:active {
  color: var(--color-active)
}

.header-personal-account:active svg {
  fill: var(--color-active);
}

.header-personal-account-text {
  margin-left: 7px;
}

.header-nav {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  background: #fff;
  border-radius: 15px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.header-link:focus-visible {
  outline: 0;
  outline-offset: 5px;
  outline: 1px solid var(--color-focus);
  color: var(--color-focus);
}

.header-link:hover {
  color: var(--color-focus);
}

.header-link:active {
  color: var(--color-active);
}

.header-button{
  padding: 13px 20px;
}

.header-button:not(:last-child) {
  margin-right: 40px;
}

/* main */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* special-offers */

.special-offers-cards {
  flex-direction: column;
  flex-basis: 49%;
  margin-right: 24px;
}

.special-offer-item {
  position: relative;
  flex-direction: column;
  flex: 1;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  background-color: #a47312;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.special-offer-item-bg1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../image/special-offer-item-bg1.jpg);
}

.special-offer-item-bg2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../image/special-offer-item-bg2.jpg);
}

.special-offer-item-bg3 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../image/special-offer-item-bg3.jpg);
}

.special-offer-item:first-child {
  margin-bottom: 24px;
}

.item-big {
  justify-content: flex-end;
  align-items: flex-start;
}

.special-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.special-item-price {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.special-item-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f0bf5f;
  transition: color 0.3s ease-in-out;
}

.special-item-link svg {
  transition: transform 0.3s ease-in-out;
}

.special-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline-offset: 8px;
  outline: 1px solid var(--color-focus);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.special-item-link:hover svg {
  transform: translateX(11px);
}

.special-item-link:focus-visible {
  outline: none;
}

.special-item-link:focus-visible::before {
  opacity: 1;
}

.special-item-link:active {
  color: #fff;
}

.special-item-link-text {
  margin-right: 8px;
}

.special-item-big-title {
  font-size: 60px;
  line-height: 60px;
}

.special-item-big-price {
  font-size: 30px;
  line-height: 30px;
}

/* about us */

.about-us-descr {
  max-width: 888px;
}

/* services */

.services-items {
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  flex-basis: 573px;
  min-height: 330px;
  padding: 191px 126px 35px 45px ;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.services-item-bg1 {
  background-image: url(../image/services-item-bg1.jpg);
}

.services-item-bg2 {
  background-image: url(../image/services-item-bg2.jpg);
}

.services-item-bg3 {
  background-image: url(../image/services-item-bg3.jpg);
}

.services-item-bg4 {
  background-image: url(../image/services-item-bg4.jpg);
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item-title {
  margin: 0;
}

.services-item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #cc9933;
  transition: color 0.3s ease-in-out,
}

.services-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline-offset: 8px;
  outline: 1px solid var(--color-focus);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services-item-link:focus-visible {
  outline: none;
}

.services-item-link:focus-visible::before {
  opacity: 1;
}

.services-item-link svg {
  fill: transparent;
  stroke: var(--color-focus);
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.services-item-link:hover svg {
  fill: transparent;
  stroke: var(--color-hover);
  transform: translateX(11px);
}

.services-item-link:hover {
  color: var(--color-hover);
}

.services-item-link:active svg {
  fill: transparent;
  stroke: var(--color-active);
}

.services-item-link:active {
  color: var(--color-active);
}

.services-item-link-text {
  margin-right: 8px;
}

/* advantages */

.advantages-items {
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: 276px;
  min-height: 276px;
  padding: 116px 42px 32px 45px;
  margin-bottom: 22px;
  border-radius: 15px;
  background-color: #fff;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: 66px 66px;
}

.advantages-item-bg1 {
  background-image: url(../image/advantages-item-bg1.svg);
}

.advantages-item-bg2 {
  background-image: url(../image/advantages-item-bg2.svg);
}

.advantages-item-bg3 {
  background-image: url(../image/advantages-item-bg3.svg);
}

.advantages-item-bg4 {
  background-image: url(../image/advantages-item-bg4.svg);
}

.advantages-item-bg5 {
  background-image: url(../image/advantages-item-bg5.svg);
}

.advantages-item-bg6 {
  background-image: url(../image/advantages-item-bg6.svg);
}

.advantages-item-bg7 {
  background-image: url(../image/advantages-item-bg7.svg);
}

.advantages-item-bg8 {
  background-image: url(../image/advantages-item-bg8.svg);
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

/* placement */

.placement-items {
  flex-wrap: wrap;
}

.placement-item {
  flex-basis: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.container-card {
  padding: 32px 45px 45px;
}

.container-price-rating {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.placement-price {
  margin: 0;
}

.placement-grey {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.placement-price-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.placement-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.placement-city {
  margin: 0;
  margin-bottom: 20px;
}

.placement-card {
  flex-direction: column;
}

.plecament-button {
  padding: 13px 20px;
}

.placement-last-card {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 54px 27px;
  background-color: #a47312;
  background-image: linear-gradient(0, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(../image/placement-last-card.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placement-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.placement-last-card .placement-link svg {
  transition: transform 0.3s ease-in-out;
}

.placement-last-card .placement-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.placement-last-card .placement-link:focus {
  outline: none;
}

.placement-last-card .placement-link:hover svg {
  transform: translateX(11px);
}

.placement-link-text {
  margin-right: 6px;
}

/* tours */

.tours-container {
  width: 1170px;
  padding: 45px 45px;
  background: #e9e9e9;
  border-radius: 15px;
}

.tours-title {
  padding-left: 0;
}

.tours-form {
  padding: 31px 28px 32px;
  background: #fff;
  border-radius: 15px;
  flex-wrap: wrap;
}

.tours__item {
  margin-right: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tours__item:nth-child(5n) {
  margin-right: 51px;
}

.tours__text {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.tours__select {
  border: 0;
  appearance: none;
  width: 169px;
  background-image: url(../image/tours-select.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px 6px;
}

.tours__input {
  max-width: 120px;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000
}

.tours-btn {
  padding: 13px 30px;
}

/* contacts */

.contacts {
  padding-bottom: 20px;
}

.contacts-wrapper {
  justify-content: space-between;
  width: 100%;
  padding: 45px;
  background-color: #fff;
  border-radius: 15px;
}

.contacts-info {
  flex-direction: column;
  flex-basis: 375px;
  /* justify-content: space-between;
  width: 100%; */
  /* margin-right: 52px; */
}

.contacts-block {
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-block:nth-child(4n) {
  margin-bottom: 45px;
}

.contacts-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000
}

.contacts-text {
  margin: 0;
  max-width: 225px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000
}

.contacts-descr {
  flex-direction: column;
  flex-basis: 225px;
}

.contacts-link {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #cc9933;
  transition: color 0.3s ease-in-out;
}

.contacts-link:focus-visible {
  outline: 0;
  outline-offset: 2px;
  outline: 1px solid var(--color-focus);
}

.contacts-link:hover {
  color: var(--color-hover);
}

.contacts-link:active {
  color: var(--color-active)
}

.contacts-grey {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999
}

.contacts-btn {
  padding: 27px 29.5px;
  align-self: flex-start;
}

.contacts-img {
  max-width: 653px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

/* footer */

.footer {
  padding-top: 20px;
}

.footer-wrapper {
  align-items: flex-start;
  padding: 45px;
  background: #333;
  border-radius: 15px;
  background-image: url(../image/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: 254px 228px;
  background-position: 739px bottom;
}

.footer-descr {
  max-width: 302px;
  margin-right: 125px;
}

.footer-contacts {
  max-width: 360px;
  margin-right: 269px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fff
}

.footer-descr-item:not(:last-child) {
  margin-bottom: 40px;
}

.footer-links {
  flex-direction: column;
}

.footer-link {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #cc9933;
  transition: color 0.3s ease-in-out;
}

.footer-link:focus-visible {
  outline: 0;
  outline-offset: 2px;
  outline: 1px solid var(--color-focus);
}

.footer-link:hover {
  color: var(--color-hover);
}

.footer-link:active {
  color: var(--color-active)
}

.footer-social {
  flex-direction: column;
}

.footer-social-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.footer-social-link svg {
  fill: #999;
  stroke: transparent;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:hover svg, .footer-social-link:focus-visible svg {
  fill: var(--color-focus);
  stroke: transparent;
}

.footer-social-link:active {
  outline: none;
}

.footer-social-link:active svg {
  fill: var(--color-active);
  stroke: transparent;
}
